/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  /* 子菜单横向展示 */
  #nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
  }
  /* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
  .menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -70px;
  }

  body {
    background: url('/image1/blog1.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    background-color: transparent !important;
  }

  /* 翻页按钮居中 */
  #pagination {
    width: 100%;
    margin: auto;
  }

/* 欢迎信息 */
#welcome-info {
  background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
  border-radius: 18px;
  padding: 8px;
}
[data-theme="dark"] #welcome-info {
  background: #212121;
}
